.mult-choice {
	margin: 0 auto;
	float: none;
}

.mult-choice ul {
	padding-left: 10px;
}

.choice {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mult-choice label {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.choice-label {
	padding-left: 10px;
	line-height: 30px;
}

.feedback-popup {
  display: none;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #eee;
  margin-top: 20px;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}